---
layout: default
title: storytime
---

{{ include header.html }}

<div id="block" class="hidden">
	<div>
		<h1>Sorry!</h1>
		<p>Due to time constraints, this website hasn't been optimised for small screens...</p>
	</div>
</div>

<div id="progress"></div>

<section id="pages">
	<div class="page-left">
	    <div class="image-wrapper">
	        <!-- SVG images -->
	        {% include svgs/_holder.html %}
			{% include svgs/patrick.html page="0" %}
	        {% include svgs/lego.html page="1" %}
	        {% include svgs/beams.html page="2" %}
			{% include svgs/platform.html page="3" %}
			{% include svgs/platform.html page="4" %}
			{% include svgs/platform.html page="5" %}
			{% include svgs/platform.html page="6" %}
			{% include svgs/platform.html page="7" %}
			{% include svgs/platform.html page="8" %}
			{% include svgs/platform.html page="9" %}
			{% include svgs/platform.html page="10" %}
	        {% include svgs/platform.html page="11" %}
	    </div>
	</div>

	<div class="page-right">
	    <div class="story-wrapper">
	        <!-- Stories -->
			<div id="story-0" class="story">
			    <h1>Journey to the Centre of Deloitte<span class="primary-color">.</span></h1>
			    <h3>by Patrick Morgan</h3>
			    <a href="#page-1" class="btn btn-large btn-primary" style="margin: 20px 0 50px 0">Start</a>
			    <p class="subtitle">
			        If you're a bit pressed for time, here's a <a href="/concise.html">concise version</a>.
			    </p>
			</div>

			{% for story in site.data.stories %}
				<div id="story-{{ forloop.index }}" class="story hidden">
				    <h2>{{ story.title }}</h2>
				    {{ story.body }}
					{% if story.buttons == 'show' %}
					    <a href="#page-{{ forloop.index | minus: 1 }}" class="btn">Back</a>
						<a href="#page-{{ forloop.index | plus: 1 }}" class="btn btn-primary">Next</a>
					{% endif %}
				</div>
			{% endfor %}
	    </div>
	</div>
</section>

<!-- Tangents -->
{% include projects/techtalk.html %}
{% include projects/talentx.html %}
{% include projects/career.html %}

{{ include footer.html }}