<div id="career" class="modal modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-career" class="close">&times;</span>
            <h2>Career</h2>
            <h5>Finding a new home</h5>
        </div>
        <div class="modal-body">
            <h3>Challenge</h3>
            <p>
                Patrick wants to find a new home where he can flourish and take on new challenges.
            </p>
            <h3>Solution</h3>
            <h4>User Research</h4>
            <p>
                Patrick has spoken to developers, designers, recruiters, consultants, business leaders – anyone he could get his hands on. He’s asked them many questions and attempted to understand their goals and frustrations.
            </p>
            <h4>Journey Mapping</h4>
            <p>
                Patrick has begun to map out his options and the different journeys he could take. He has never been a “five-year plan” sort of person. Instead he has chased opportunities and challenges as they present themselves. What guides these decisions is an understanding of the general direction he wants to be moving in.
            </p>
            <h4>Prioritisation</h4>
            <p>
                Comparing places that he’d like to work is not the easiest of tasks. Short of actually getting in there and testing it out, it’s hard to tell if it is going to be a good fit. So, Patrick came up with some simple heuristics to give himself a better chance of finding a job that he will love. These are:
                <ol>
                    <li>Great people to surround himself with and learn from</li>
                    <li>A company or team mission that he can believe and invest in</li>
                    <li>A fun and diverse environment that encourages innovation and creativity</li>
                </ol>
            </p>
            <h4>Wireframing</h4>
            <p>
                Patrick has begun to sketch out his next challenge. How it ultimately turns out is a mystery, but that’s all part of the fun.
            </p>
            <h3>Lessons</h3>
            <p>
                TBA...
            </p>
        </div>
    </div>
</div>