<div id="talentx" class="modal modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-talentx" class="close">&times;</span>
            <h2>TalentX</h2>
            <h5>A multi-million dollar platform</h5>
        </div>
        <div class="modal-body">
            <h3>Challenge</h3>
            <p>
                Recruitment is renowned as an industry ripe for disruption. Placing people in the right jobs is not a simple task however, and so far, serious disruption has not happened. At the behest of their CEO, Patrick and his team were challenged to do just that… No pressure or anything.
            </p>
            <h3>Solution</h3>
            <p>
                Patrick was determined not to make the same mistakes again. He began reading up and plotting out his plan for the initial UX design of the new platform. His plan included user research, persona development, storyboarding and journey mapping, process diagrams, user stories, and wireframes. He read up on the Scrum agile methodology and began preaching the mantra of: build, test, learn, repeat. He began daily stand-ups, and planned the first sprint.
            </p>
            <p>
                There were many iterations, scope changes, pivots and complete reworks, but out the other end has come a concise and exciting scope for a minimum viable product. The project is currently seeking final funding and has moved into the development phase.
            </p>
            <p>
            </p>
            <h3>Lessons</h3>
            <h4>Lesson #1: People are human</h4>
            <p>
                The team’s first task was to listen to as many people as they could get their hands on. They developed a set of initial personas and began to validate some of the goals and frustrations they had created. Patrick and his team quickly realised they had placed far too much importance on many of their assumptions and ideas. For most people, what it came down to was one simple, very human need… Security.
            </p>
            <p>
                For people looking for jobs, this manifested in job security. The gig economy predicts a world where there are fewer and fewer permanent roles and instead people move between short-term projects or tasks. From their interviews, the team quickly worked out that this is not what most people want.
            </p>
            <p>
                For people looking for talent, security manifested as trust. They could have the ability to search the entire world to find the best person for a job, but what they’d prefer to do is to hire someone within their own network that they know they can trust.
            </p>
            <p>
                To tackle these challenges, the team needed to pivot. They added roles to the mix and began to reduce their emphasis on short-term tasks. They moved their thinking from a more consumer-centric platform to an enterprise version, where hirers could engage internal, more trusted talent. These are not complete solutions of course, but one step in a direction more aligned to their users’ needs.
            </p>
            <h4>Lesson #2: UX is hard</h4>
            <p>
                Next the team started to take their personas on a bit of a journey. This started with mapping out the activities the personas would be undertaking, and then diving into how they would interact with the platform, their thoughts and feelings, and the opportunities and challenges the team faced because of it.
            </p>
            <p>
                Getting into the mindset of a user and trying to imagine what they might be thinking and feeling is not easy. The team often found themselves falling into clichés and tropes like, ‘this guy’s pretty old so he’s probably feeling scared and confused about this newfangled technology, right?’ Come on team! You can do better than that.
            </p>
            <p>
                They pushed through but Patrick was never quite content with the results. Perhaps it was still too conceptual, or perhaps it was done too early in the process, but the output of the journey mapping exercise was never put to much use.
            </p>
            <h4>Lesson #3: Prioritisation is a necessary <span style="text-decoration: line-through;">evil</span> good</h4>
            <p>
                As they dove further into the project, Patrick and the team began to identify further requirements – far too many to take to a minimum viable product. So, one day, they locked themselves away in a small room and had it out. Punches were thrown, tables flipped, hopes and dreams smashed, and the requirements were neatly categorised into must haves, should haves, could haves and won’t haves.
            </p>
            <p>
                What came out the other side of the fearsome debate was a clearer scope. More importantly though, it was a scope that the team had all agreed on.
            </p>
            <h4>Lesson #4: Be emotionally prepared to throw out your wireframes</h4>
            <p>
                One of the biggest challenges Patrick faced throughout the process was communicating the concept to people throughout the business. From the early days of the TalentX concept, he found that the best method was to put something visual in front of them. So why not kill two birds with one stone, and build some wireframes.
            </p>
            <p>
                The wireframes have gone through four iterations. The first set was an early communication tool before the UX design had begun. The second set were created after the requirements prioritisation. The third set were created after a sizeable pivot of the broader concept scope. And the fourth and final set (for now) reflect the scope of the MVP only. Patrick did get quite proficient with Balsamiq…
            </p>
            <img src="./assets/img/talentx_1.jpg" alt="One of the many personas" />
            <p class="subtitle">One of the many personas created.</p>
            <img src="./assets/img/talentx_2.jpg" alt="Our Trello board capturing user interviews" />
            <p class="subtitle">Trello board capturing user interviews.</p>
            <img src="./assets/img/talentx_3.jpg" alt="Priorisation of some post-its" />
            <p class="subtitle">Patrick and Kym taking a break after a solid <span style="text-decoration: line-through;">punch-on</span> prioritisation.</p>
            <img src="./assets/img/talentx_4.jpg" alt="One of many marked-up wireframes" />
            <p class="subtitle">One of the many marked-up wireframes.</p>
        </div>
    </div>
</div>