<div id="techtalk" class="modal modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-techtalk" class="close">&times;</span>
            <h2>Tech Talk</h2>
            <h5>A web app, built for Advisian</h5>
        </div>
        <div class="modal-body">
            <h3>Challenge</h3>
            <p>
                Patrick’s team were having an issue with collaboration and transparency when it came to talking about tech. They needed a way to centralise all the information and discussion they were having both as a team and with other areas of the business.
            </p>
            <h3>Solution</h3>
            <p>
                He did his due diligence and looked around the company and externally for a solution that might meet the team’s needs. There were a number of solutions that came close to what they were looking for, but nothing was quite right.
            </p>
            <p>
                So, Patrick set about building a custom app. It was built using the Laravel (PHP) and Materialize (CSS/JavaScript) frameworks with a few small pieces of custom jQuery.
            </p>
            <p>
                Out the other end came a polished, functional web app with one small issue. No one really wanted to use it…
            </p>
            <h3>Lessons</h3>
            <h4>Lesson #1: user research is a thing</h4>
            <p>
                From his crash course in design thinking Patrick had a deeper appreciation of the need to get into the mind of the end user. What he was lacking were the tools to effectively do this (he was yet to learn about user experience through his studies). He thought long and hard about what the user might need, he talked to a couple of people in his team about what they were wanting, but that’s where Patrick’s foray into user research ended…
            </p>
            <h4>Lesson #2: marketing is a thing</h4>
            <p>
                Patrick was thrust into the next project as soon as he had finished up developing Tech Talk. Tried as he may in the coming months, without the time and resources to effectively communicate the shiny new tool to the broader organisation, the application stagnated. ‘If you build it, they will come’ was an downright lie.
            </p>
            <h4>Lesson #3: apps are easy, good apps are not</h4>
            <p>
                The last and most important lesson Patrick learned was that the ‘creating’ part of programming and design means so much more than just writing some code, or mocking up a wireframe. It means having empathy. It means understanding who you are building it for, why you are building it for them, and how they are going to be use it.
            </p>
            <img src="./assets/img/techtalk_1.jpg" alt="Screenshot of the Tech Talk landing page" />
            <p class="subtitle">The Tech Talk landing page.</p>
            <img src="./assets/img/techtalk_2.jpg" alt="Screenshot of the Tech Talk search function" />
            <p class="subtitle">The search function.</p>
            <img src="./assets/img/techtalk_3.jpg" alt="Screenshot of a tech organisation page" />
            <p class="subtitle">A tech organisation page.</p>
        </div>
    </div>
</div>