<div id="concise" class="hidden">
	<div id="concise-wrapper">
		<p>
			There once was a boy named Patrick. <br />
			He became an engineer and joined a company called WorleyParsons. <br />
			He decided it wasn’t quite what he wanted to be doing, so did an IT degree. <br />
			He moved to the digital group within the company where he worked on many things. <br />
			Three of these are below…
		</p>
		<a id='btn-techtalk' class='btn btn-secondary btn-modal btn-large' href='#techtalk'>Project: Tech Talk</a>
		<a id='btn-talentx' class='btn btn-secondary btn-modal btn-large' href='#talentx'>Project: TalentX</a>
		<a id='btn-career' class='btn btn-secondary btn-modal btn-large' href='#career'>Project: Career</a><br />
		<a href="#page-0" class="btn">Back</a>
	</div>
</div>