body {
    margin: 0;
}

#pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(97vh - 5px);
    .page-left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: calc(50vw - 50px);
        .image {
            &.hidden {
                display: none;
            }
        }
    }
    .page-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(50vw - 50px);
        .story-wrapper {
            position: relative;
            width: 500px;
            transform-style: preserve-3d;
            .story {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

#progress {
    height: 5px;
    width: 0%;
}