body {
    background: #eee;
}

#progress {
    transition: width 1s;
    background: $primary-color;
}

#pages {
    .page-left {
        .image {
            &.hidden {
                display: none;
            }
        }
    }
    .page-right {
        .story-wrapper {
            .story {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s, opacity 0.5s;
                &.hidden {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}

#navigation {
    #navigation-wrapper {
        .navigation {
            &.hidden {
                display: none;
            }
        }
    }
}

.deloitte-green {
    color: $deloitte-green;
}

// Button style adapted from Ashley Nolan https://codepen.io/ashleynolan/pen/djpCG
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    border: none;
    position: relative;
    margin: 10px 10px 0 0;
    padding: 9px 20px 7px 20px;
    transform-style: flat;
    transition: all 250ms ease-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        transition: all 250ms ease-out;
    }
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 95%;
    }
    &:hover, &:focus {
        outline: 0;
        &:before {
        		box-shadow: 0 10px 19px -8px rgba(31, 31, 31, 0.5);
        }
    }
    &.btn-primary {
        background-color: $primary-color;
        color: #222;
    }
    &.btn-secondary {
        background-color: $secondary-color;
        color: #fff;
        margin-bottom: 20px;
    }
    &.btn-large {
        font-size: 24px;
        padding: 10px 20px 10px 20px;
    }
}