body {
    background: #eee;
    #progress {
        transition: width 1s;
        background: $primary-color;
    }
    #pages {
        .page-left {
            .image {
                &.hidden {
                    display: none;
                }
            }
        }
        .page-right {
            .story-wrapper {
                .story {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s, opacity 0.5s;
                    &.hidden {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
    #navigation {
        #navigation-wrapper {
            .navigation {
                &.hidden {
                    display: none;
                }
            }
        }
    }
}