@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Playfair+Display');

$header-family: 'Playfair Display', serif;;
$body-family: 'Gentium Book Basic', serif;

* {
    font-family: $body-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-family;
    color: $header-color;
}
h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0.33em;
}
h2 {
    margin-top: 0;
    font-size: 36px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: $body-color;
}
.subtitle {
    font-size: 16px;
    font-style: italic;
    color: #777;
}