@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Playfair+Display');

$header-family: 'Playfair Display', serif;;
$body-family: 'Gentium Book Basic', serif;

* {
    font-family: $body-family;
    font-size: 18px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-family;
    color: #111;
    margin-top: 0;
    margin-bottom: 0.33em;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
    font-style: italic;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 18px;
}
p {
    line-height: 1.6;
    margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a {
    text-decoration: none;
    color: $secondary-color;
    //background-size: 0 0;
    //background-image: linear-gradient(180deg, transparent 100%, $secondary-color 0);
    // background-repeat: no-repeat;
    //transition: background-image .3s ease;
    //transition: all .3s ease;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover {
    //text-decoration: underline;
    background-image: linear-gradient(180deg, transparent 90%, $secondary-color 0);
    //color: #fff;
    //background: $secondary-color;
    //background-size: 100% 100%;
}
span {
    font-size: inherit;
}
.subtitle {
    font-size: 16px;
    font-style: italic;
    color: #777;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}
i {
    margin-right: 0.3em;
}