<div id="story-2" class="story hidden">
    <h2>Prologue</h2>
    <p>
        On the loungeroom floor, on a well-worn Persian carpet, sits Patrick Morgan and his Lego. This is 8-year-old Patrick mind you, current day Patrick would love to play with Lego all day, but feels that it’s not quite as socially acceptable. But sit there all day he would, creating and recreating in an infinite number of permutations from the big bag of hand-me-down Lego sets.
    </p>
    <p>
        His mother is an artist, his father a journalist, his older brother and sister are designers. Creativity apparently runs through the Morgan blood. So, when Patrick started showing more interest in calculus than in calligraphy his family was concerned…
    </p>
</div>