<div id="story-{{ include.page }}" class="story hidden">
    <h2>An Engineer in the Family</h2>
    <p>
        He was taken to expert after expert, from psychologists and behavioural experts, to acupuncturists and natural healers, but no one could figure it out. Finally, a gastroenterologist deflated announced. ‘I’m sorry. I think your son is going to be… an engineer.’ His parents braced themselves against the reality that had just been dropped on them. Though in their hearts, they already knew it to be true. They should have never given him Lego, they should have known!
    </p>
    <p>
        Patrick jumped at the idea of becoming an engineer. Creating things using maths and science! Why would anyone want to do anything else? With some reluctance, his parents allowed him to pursue his… unconventional dreams and on he went, studying a <a href="#engdegree">Bachelor of Civil Engineering and achieving first class honours</a>.
    </p>
    <a href="#page-2" class="btn">Back</a><a href="#page-4" class="btn btn-primary">Next</a>
</div>